.login {

  .callout-auth {
    background: #eee;
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
    .button-group {
      display: flex;
      justify-content: space-between;
      button {
        flex: 1;
        margin: 0 1rem;
      }
    }
    h3, p{
      margin-bottom: 2rem;
    }
  }
}
